#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: linear-gradient(0deg, white 50%, #F4F4F4 50%);

  a {
    color: #505050;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 18px;
  }
  .space {
    margin:22px;
  }

  .article {
    color: white;
    text-decoration: none;
  }

}
