---
title: fun buttons
---

<div id="home">
  <div class="home-content">
      <button class="button">
        <span>Hover me I'm awesome</span>
      </button>
      <br>
      <div class="parallax-button">
        <a id="parallax" href="#" data-title="Awesome Parallax Button"></a>
      </div>



    <p class="about">
      <%= link_to "More about this page", "about.html" %>
    </p>
  </div>
</div>




