---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
      <button class="button">
        <span>Hover me I'm awesome</span>
      </button>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
